
.cheerContainer {
    position: fixed;
    display: flex;
    bottom: 0%;
    right: 0%;
    width: 50%;
    height: 30%;
    z-index: 100;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgba(0, 0, 0, 0);

    transition-duration: .7s;
    transform: scale(1);
    opacity: 1;

    .gif {
        width: 100px;
        object-fit: contain;
    }
}

.cheerHidden {
    transform: scale(0);
    opacity: 0;
}
